/* Write your CSS here */

.bg-container {
  background-color: #ffd569;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  border-radius: 15px;
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #000000;
  font-family: Roboto;
  font-size: 45px;
  font-weight: bold;
}

.count {
  color: #ffd569;
}

.img-container {
  display: flex;
  flex-direction: row;
}

.image {
  height: 200px;
  width: 200px;
  background-size: cover;
}

.btn {
  color: #ffffff;
  background-color: #007bff;
  padding: 10px;
  font-size: 10px;
  outline: none;
}

.inner-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
